h4{
    display: flex;
    justify-content: center;
    padding-top: 8px; 
}

.align{
    left: 30%;
    
}


#home, #profile{
    width: 700px;
    height: auto;
    border: 1px solid #000;
    margin-top: 1px;
}


.nav-tabs {
    border-bottom: 0;
    width: 700px;

}
.nav .nav-item .active{
    background: linear-gradient(45deg, #feffff 0%,#b9e1f7 100%);
}


td {
    word-break: break-word;
}

#sendData {
    margin-bottom: 10px;
    justify-content: center;
    width: 180px;
    float: right; 
    border-radius: 10px;
}

#first{
    margin-top: 5px;
}

.form-group {
    margin-bottom: 2px;
}

.image{
    position: relative;
}

img{
    position: absolute;
    max-width: 78%;
    top: 28%;
    left: 10%;
}



.bg-light{
    background: linear-gradient(45deg, #feffff 0%,#b9e1f7 100%);
}

input{
    box-shadow: 0px 1px 2px 0px rgba(56,160,240,1);
}

.table{
    margin-bottom: 0;
    background: gainsboro;
    border: 0;
}